:root {
    /*
    |--------------------------------------------------------------------------
    | Grid - Desktop
    |--------------------------------------------------------------------------
    */

    --ds-grid-desktop-columns: 12;
    --ds-grid-desktop-container: 1216px;
    --ds-grid-desktop-gutter: 32px;
    --ds-grid-desktop-margin: 112px;

    /*
    |--------------------------------------------------------------------------
    | Grid - Tablet
    |--------------------------------------------------------------------------
    */

    --ds-grid-tablet-columns: 8;
    --ds-grid-tablet-gutter: 20px;
    --ds-grid-tablet-margin: 48px;

    /*
    |--------------------------------------------------------------------------
    | Grid - Mobile
    |--------------------------------------------------------------------------
    */

    --ds-grid-mobile-columns: 4;
    --ds-grid-mobile-gutter: 20px;
    --ds-grid-mobile-margin: 12px;

    /*
    |--------------------------------------------------------------------------
    | Breakpoints
    |--------------------------------------------------------------------------
    */

    --ds-breakpoint-mobile: 375px;
    --ds-breakpoint-tablet: 744px;
    --ds-breakpoint-desktop: 1440px;
}