:root {
    /*
    |--------------------------------------------------------------------------
    | Shadows
    |--------------------------------------------------------------------------
    */

    --ds-shadow-card-sm: 0 2px 4px rgba(0, 15, 30, 0.02);

    --ds-shadow-sm: 0 2px 4px rgba(29, 29, 27, 0.08);

    --ds-shadow-md:
        0 8px 12px rgba(29, 29, 27, 0.04),
        0 2px 4px rgba(29, 29, 27, 0.02);
}